@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: relative;
  display: flex;
  background-color: #121620;
  padding: 1rem 5rem;
  align-items: center;
  /* z-index: 1; */
  height: 80px;

  /* .ironhackLogo {
    margin-left: auto;
  } */

  /* .menuTop {
    margin-right: auto;
  } */
}

.hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-color: #1f2535;
  padding: 1rem 5rem;
  color: white;
  justify-content: center;

  h1 {
    font-size: 6rem;
    max-width: 600px;
    line-height: 1;
  }

  p {
    font-size: 2rem;
    padding: 2rem;
    max-width: 600px;
  }

  button {
    border: none;
    align-self: flex-start;
    padding: 1.5rem 4rem;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

main {
  padding: 1rem 5rem;
}

.features {
  display: flex;
  margin: 150px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  h4 {
    font-size: 1.3rem;
  }

  p {
    padding: 1rem;
    line-height: 1.3;
    font-size: 0.9rem;
    color: rgb(96, 96, 96);
  }

  img {
    margin-left: -20px;
  }
}
